.container-center {
    margin: 0 auto;
    width: 50%;
}

@media (max-width: 900px) {
    .container-center {
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 901px) and (max-width: 999px) {
    .container-center {
        margin: 0 auto;
        width: 96%;
    }
}

@media (min-width: 1000px) {
    .container-center {
        margin: 0 auto;
        width: 750px;
    }
}
