@page "/order-success"

<center class="mt-5">
    <img src="truck.svg" style="width: 300px;">
    <h1 class="mt-5">Thank you for ordering!</h1>
    <h2 class="text-danger">Your order will arrive soon...</h2>
    <h4 class="mt-5 pt-5 text-secondary">Please rate the order in it's details page!</h4>
</center>

@code {
}
