@page "/order-success"

<center class="mt-5">
    <img src="truck.svg" style="width: 300px;">
    <h1 class="mt-5">Thank you for ordering!</h1>
    <h2 class="text-danger">Your order will arrive soon...</h2>
</center>

@code {
}
